.entete, .menu, .contenu, .footer {
padding:0px 0;
}
.entete {
font-size: 1.5rem;
border-radius: 30px 30px 0 0;
background-color:#00cccc;
text-align: right;
}
.main {
box-shadow: 0 0 50px rgba(0,0,0,0.30);
display :flex;
margin-top:50px;
margin-left:50px;
width: 1390px;
border-radius: 30px;
}
.menu  {
border-radius: 30px 0 0 30px;
font-size: 1.5rem;
padding-left: 30px;
width:300px;
background-color:#009698;
}
.contenu {
border-radius: 0 30px 30px 0;
font-size: 1.4rem;
flex: 1;  
width:1090px;
padding-left: 3px; 
background-color:#e0ffff;
}
.footer {
background-color:#669933;
border-radius: 0 0 30px 30px;
margin-top : 20px;
text-align:center;
}
.photo_visage {
flex:0;
margin: 20px;
box-shadow: 0 0 20px rgba(0,0,0,0.15);
float:right;
width: 200px;
height: 200px;
background-color:#EFF0ED;
border-radius: 50%;
}
.image_logo_niveau {
width:20px;
}
.image_logo_gauche {
margin-top :10px;
float: left;
width:60px;
}
.image_logo_droite {
margin-top :10px;
float: right;
width:120px;
}
.menu ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu a { 
    color: inherit;         
    text-decoration: none;  
} 

.menu a:hover { 
    text-decoration: underline; 
} 
.contenu h3 { 
    color: #008b8b;               
    font-weight: 600; 
    margin-top: 30px;
    margin-bottom: -20px; 
} 
.contenu h1 {        
    text-align:center;         
    font-weight: 600; 
    margin-top: 0px;
    margin-bottom: 15px; 
} 
.entete h2 {        
    text-align:center;         
    font-weight: 600; 
    margin-top: 10px;
    margin-bottom: 0px; 
} 
.menu h3 {        
    text-align:center;         
    margin-top: 10px;
    margin-bottom: 10px; 
} 
.menu h4 {
    margin-top: 0px;
    margin-bottom:0px;
}
p {
  font-family: sans-serif;
}
